<p id="notice"><%= notice %></p>

<h1>Bugs</h1>

<%= render 'bugs_table'%>
<br>

<%= link_to 'New Bug', new_bug_path %>
<br><%=link_to 'Show Only Features' ,allfeatures_path %>
<br><%=link_to 'show only bugs',allbugs_path %>


