<div class="side-menu">
		
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<div class="brand-wrapper">
				<!-- Hamburger -->
				<button type="button" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
    <%= form_tag(search_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group", style="padding-top:50px">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>

		<!-- Main Menu -->
		<div class="side-menu-container">
			<ul class="nav navbar-nav">
                      <!-- Dropdown-->
						<li class="panel panel-default" id="dropdown">
								<a data-toggle="collapse" href="#dropdown-lvl1">
										<span class="glyphicon glyphicon-user"></span> Project<span class="caret"></span>
								</a>

								<!-- Dropdown level 1 -->
								<div id="dropdown-lvl1" class="panel-collapse collapse">
										<div class="panel-body">
											<ul class="nav navbar-nav">
												<li><%=link_to "Add Project",new_project_path(current_user)%></li>
												<li><%= link_to "View Project", projects_path(current_user)%></li>
												<li><%= link_to "All Projects", projects_path%></li><br>

                      </ul>
										</div>
								</div>
						</li>
						<li><a><span><%=link_to "All User" ,users_path%></span></a></li>
						<li><%= link_to "Developers", developers_path%></li><br>
						<li><%= link_to "Quality Assurance", quas_path%></li><br>
						<li><%=link_to "view profile", user_path(current_user)%></li>
						<li><%= link_to "Profile Update", edit_user_path(current_user)%></li>
						<li><%= link_to "View Bug", bugs_path%></li><br>
										 <!-- Dropdown-->
		<!-- 				<li class="panel panel-default" id="dropdown">
								<a data-toggle="collapse" href="#dropdown-lvl1">
										<span class="glyphicon glyphicon-user"></span> Profile<span class="caret"></span>
								</a>
								 Dropdown level 1 -->
					<!-- 			<div id="dropdown-lvl1" class="panel-collapse collapse">
										<div class="panel-body">
												<ul class="nav navbar-nav">
												<li><%=link_to "view profile", user_path(current_user)%></li>
														<li><%= link_to "Profile Update", edit_user_path(current_user)%></li>
														<li><a href="#">Link</a></li>
												</ul>
										</div>
								</div>

						</li> --> 
					

				</ul>
		</div><!-- /.navbar-collapse -->
</nav>
		
		</div>